6.Vasudha-Knowledge-HR-Sphere-AI-Agent.json
{
  "name": "6.Vasudha-Knowledge-HR-Sphere-AI-Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vasudhachatbotv1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        464
      ],
      "id": "0fa9615a-fbb4-4e15-b7f8-07760ddcbe8f",
      "name": "Webhook",
      "webhookId": "02ef3ed2-8fed-4475-8864-22876507acc7"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\n// API Key validation\nconst validApiKey = \"black-elephant-2026\";\nconst incomingKey = headers?.[\"x-api-key\"];\n\nif (!incomingKey || incomingKey !== validApiKey) {\n  throw new Error(\"401: Unauthorized - Invalid or missing API key\");\n}\n\n// Input validation\nif (!body.message || body.message.trim() === \"\") {\n  throw new Error(\"400: Bad Request - message field is required\");\n}\n\nif (body.message.length > 1000) {\n  throw new Error(\"400: Bad Request - message exceeds 1000 characters\");\n}\n\nif (!body.session_id) {\n  throw new Error(\"400: Bad Request - session_id is required\");\n}\n\nreturn {\n  sessionId: body.session_id,\n  session_id: body.session_id,\n  user_id: body.user_id || \"anonymous\",\n  chatInput: body.message.trim(),\n  request_time: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        480
      ],
      "id": "a84d194e-f7c7-4ce9-a070-302ef40fe117",
      "name": "Session Manager",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.chatInput }}\n\nContext from Kuwait Labour Law:\n{{ $json.context }}",
        "options": {
          "systemMessage": "You are Vasudha, an AI assistant specialized in Kuwait Labour Law.\n\nAnswer questions based on the context provided below. The context contains relevant articles from Kuwait Labour Law No. 6 of 2010.\n\nRules:\n- Use ONLY the provided context to answer\n- Always cite the Article number in your answer\n- If the context doesn't contain enough information, say: \"The provided context does not cover this specific topic. Please try a more specific question.\"\n- Be helpful and professional"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        496
      ],
      "id": "3348f305-b378-4792-af56-834e8d239ea1",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        656
      ],
      "id": "d94fb1fa-1dca-437f-a865-4852ef6c1f88",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HKNAOPtx98yVM94x",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversation_history",
          "mode": "list",
          "cachedResultName": "conversation_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Session Manager').first().json.session_id }}",
            "user_id": "={{ $('Session Manager').first().json.user_id }}",
            "message": "= {{ $('AI Agent').first().json.output }}",
            "role": "assistant",
            "top_confidence": "={{ +$('Format Context').first().json.top_confidence }}",
            "processing_ms": "={{ new Date() - new Date($('Format Context').first().json.request_time) }}",
            "articles_retrieved": "={{ JSON.stringify($('Format Context').first().json.articles_retrieved) }}",
            "retrieval_count": "={{ +$('Format Context').first().json.retrieval_count }}",
            "request_time": "={{ $('Format Context').first().json.request_time }}",
            "response_time": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "session_id",
            "message"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "articles_retrieved",
              "displayName": "articles_retrieved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "top_confidence",
              "displayName": "top_confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "retrieval_count",
              "displayName": "retrieval_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_time",
              "displayName": "request_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "response_time",
              "displayName": "response_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_ms",
              "displayName": "processing_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        400
      ],
      "id": "8da88ccf-6d24-4eb5-80da-392aa741e7e2",
      "name": "Upsert Conversation",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "JjJP73gAngM80C6c",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={{ JSON.stringify({\n  \"success\": true,\n  \"answer\": $('AI Agent').first().json.output,\n  \"metadata\": {\n    \"session_id\": $('Format Context').first().json.session_id,\n    \"user_id\": $('Format Context').first().json.user_id,\n    \"articles_retrieved\": $('Format Context').first().json.articles_retrieved,\n    \"top_confidence\": $('Format Context').first().json.top_confidence,\n    \"retrieval_count\": $('Format Context').first().json.retrieval_count,\n    \"source\": \"Kuwait Labour Law No. 6 of 2010\",\n    \"timestamp\": new Date().toISOString()\n  }\n}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1216,
        512
      ],
      "id": "16d0bdb0-b1b3-4380-82d6-10156f875569",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Session Manager').item.json.session_id }}",
        "tableName": "n8n_chat_history"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        928,
        720
      ],
      "id": "b442ee18-8b23-410a-91de-030f71e502d1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "JjJP73gAngM80C6c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"={{ $json.error.message }}\",\n  \"timestamp\": \"={{ new Date().toISOString() }}\"\n}\n",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        288,
        688
      ],
      "id": "89ba1691-c8b9-4995-be39-010b63ca7e47",
      "name": "Error Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "=={{ $('Session Manager').first().json.chatInput }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        112
      ],
      "id": "36087820-6753-446f-9575-967d6e982f4d",
      "name": "Embed Question",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cy16t5Tf7yEdx7K2",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vasudha-knowledge-n6hzj30.svc.aped-4627-b74a.pinecone.io/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-key",
              "value": "pcsk_3Ym51Z_82kT2prRvZ1ujHsjZUCQ6EaC3A7jZJLtmngdGPd1uCJ2H7XY716rwSeDHZ3EJ1k"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vector",
              "value": "={{ $json.data[0].embedding }}"
            },
            {
              "name": "topK",
              "value": "10"
            },
            {
              "name": "namespace",
              "value": "kuwait-labour-law"
            },
            {
              "name": "includeMetadata",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        112
      ],
      "id": "0a9bf866-dad1-4766-ba01-65f77f780a61",
      "name": "Query Pinecone"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json;\nconst matchList = results.matches || [];\n\nlet contextText = '';\nlet articlesCited = [];\nlet topScore = 0;\n\nfor (let i = 0; i < matchList.length; i++) {\n  const meta = matchList[i].metadata || {};\n  const score = matchList[i].score || 0;\n  const text = (meta.text || '').replace(/\\\\n/g, '\\n');\n  const articleLabel = meta.article_label || '';\n  \n  contextText += articleLabel + '\\n' + text + '\\n\\n';\n  \n  // Track cited articles and top confidence score\n  if (articleLabel && !articlesCited.includes(articleLabel)) {\n    articlesCited.push(articleLabel);\n  }\n  if (score > topScore) topScore = score;\n}\n\nconst sessionData = $('Session Manager').first().json;\n\nreturn [{\n  json: {\n    chatInput: sessionData.chatInput,\n    context: contextText,\n    session_id: sessionData.session_id,\n    user_id: sessionData.user_id,\n    request_time: sessionData.request_time,\n    // RAG metadata passed forward\n    articles_retrieved: articlesCited,\n    top_confidence: topScore,\n    retrieval_count: matchList.length\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        304
      ],
      "id": "ea036f33-2ed3-4a24-a47a-6446167d8cc8",
      "name": "Format Context",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as request_count \nFROM rate_limits \nWHERE user_id = '{{ $json.user_id }}'\nAND request_time > NOW() - INTERVAL '1 hour';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        464
      ],
      "id": "b5f89665-984e-4c9d-b48c-6e6b4e652caa",
      "name": "Rate Limit Check",
      "credentials": {
        "postgres": {
          "id": "JjJP73gAngM80C6c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee4af2a2-3260-4b3d-bcf3-a4d94236b1ea",
              "leftValue": "={{ +$json.request_count }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        256
      ],
      "id": "9fdd8b3d-6920-4926-b27e-1b6036e5c7a7",
      "name": "Rate Limit Gate"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={{ JSON.stringify({ \"success\": false, \"error\": \"Rate limit exceeded. Maximum 20 requests per hour allowed.\", \"timestamp\": new Date().toISOString() }) }}",
        "options": {
          "responseCode": 429,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        592
      ],
      "id": "930558b2-ed3f-4076-81bb-47a3a4218331",
      "name": "Rate Limit Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rate_limits (user_id, request_time)\nVALUES ('{{ $('Session Manager').first().json.user_id }}', NOW());\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        272
      ],
      "id": "bbbe3710-497d-4a32-99ff-659c2e7d5d06",
      "name": "Rate Limit Logger",
      "credentials": {
        "postgres": {
          "id": "JjJP73gAngM80C6c",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Session Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Manager": {
      "main": [
        [
          {
            "node": "Rate Limit Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embed Question": {
      "main": [
        [
          {
            "node": "Query Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Pinecone": {
      "main": [
        [
          {
            "node": "Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Check": {
      "main": [
        [
          {
            "node": "Rate Limit Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Gate": {
      "main": [
        [
          {
            "node": "Rate Limit Logger",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Logger": {
      "main": [
        [
          {
            "node": "Embed Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "63573110-ee21-40c2-a5a5-68e2b6ede49e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31b982100a331271c83d06ddebcbb18febfbf4d1010da2c1d658a491f4ffb41e"
  },
  "id": "wyYsZI0ZbCTaBNAU",
  "tags": []
}